body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	margin: 0 auto;
}

.world-wrapper {
	overflow: scroll;
	width: 100%;
	height: 100%;
	max-width: 1500px;
}

.world {
	width: 100%;
	height: 100%;
	min-width: 1500px;
	max-height: 100%;

	polygon {
		fill: rgb(149, 149, 149);
		stroke-width: 0.5px;
		stroke: #fff;
		cursor: pointer;

		&:hover {
			fill: #ccc;
		}
	}
}

select {
	max-width: 200px;
	height: 40px;
	text-align: center;
	border: none;
	font-size: 18px;
	color: #1c87c9;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 4px 4px #ccc;
}

.tooltip {
	position: fixed;
	pointer-events: none;
	z-index: 1000;
	padding: 3;
	background-color: white;
	font-size: 12;
	user-select: none;
}
