.App {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-bottom: 5rem;

	input {
		min-width: 100px;
		width: 100%;
		text-align: center;
		color: var(--text);
		background: var(--background);
		padding: 1rem;
		border: none;
		font-size: 1.5rem;
		font-family: monospace;
	}
}
